.provoices-list {
  margin: 0 80px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.provoices-list__title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  color: var(--light-grey);
}

.provoices-list__text {
  margin-right: 8px;
}

.provoices-list__title--middle-line {
  width: 100%;
  border-top: 1px solid var(--border-grey);
}

.provoices-list__container{
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 52px;
}

.fake-icon{
  width: 200px;
}

@media (max-width:700px) {
  .provoices-list__container{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
  } 
}